

h1 {
font-family: 'Rampart One', cursive;
font-size: 3.5rem;
padding-bottom: 2%;
line-height: 1.5;
}

h2 {
  font-size: 1rem;
  line-height: 1.5;

}

.together {
  padding-bottom: 5%;
}
h3{
font-size: 0.75rem;   line-height: 1.5;
}

body {
font-family: 'Antic Slab', serif;
text-align: center;
font-size: 3rem;
}

.container-fluid {
  padding: 5% 25% 0 25%;
}

.input-group {
  padding: 0% 10% 0 10%;

}


.email {
  padding-top: 5%;
}

.icon {
  font-size: 1rem;
  padding-left: 1%;
}


.c{
  font-size: 0.5rem;
}
